<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 
	http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>uaal</id>
					<name>universAAL Repositories</name>
					<url>http://depot.universaal.org/maven-repo/releases/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>uaal-snapshots</id>
					<name>universAAL Snapshot Repositories</name>
					<url>http://depot.universaal.org/maven-repo/snapshots/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
				</repository>
				<repository>
					<id>uaal-thirdparty</id>
					<name>universAAL ThirdParty Repositories</name>
					<url>http://depot.universaal.org/maven-repo/thirdparty/</url>
				</repository>
				<repository>
					<id>uaal-thirdparty-snapshots</id>
					<name>universAAL ThirdParty Repositories</name>
					<url>http://depot.universaal.org/maven-repo/thirdparty-snapshots/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
				</repository>
			</repositories>
		</profile>
	</profiles>
	
	<!-- for Maven mirror repositories configuration see
		 https://maven.apache.org/guides/mini/guide-mirror-settings.html -->
	<!-- alternative uAAL mirrors -->
	<!-- mirrors>
			<mirror>
			<id>uAAL-release-mirror1</id>
			<url>http://nexus.lst.tfo.upm.es/content/groups/public/</url>
			<mirrorOf>uaal,uaal-thirdparty</mirrorOf>
		</mirror>
		<mirror>
			<id>uAAL-snapshot-mirror1</id>
			<url>http://nexus.lst.tfo.upm.es/content/groups/public/</url>
			<mirrorOf>uaal-snapshots,uaal-thirdparty-snapshots</mirrorOf>
		</mirror>
	</mirrors -->

	<!-- for Maven HTTP proxy configuration see
		  https://maven.apache.org/guides/mini/guide-proxies.html -->
	<!-- proxies>
		<proxy>
			<id>myproxy</id>
			<active>true</active>
			<protocol>http</protocol>
			<host>ip address</host>
			<port>port number</port>
		</proxy>
	</proxies -->

</settings>
